/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --radius: 0.625rem;
}

/* base styles */
body {
  @apply bg-background text-foreground;
  font-family: var(--font-courier-prime), monospace;
}

a {
  color: #d0007d;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  border: none;
}

input {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}
